body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height : 100vh;
}

.titre {
  color: pink;
  right: 50%;
  font-size: 1.5em ;
  position:fixed
}

.calquedudessus {
  z-index: 1;
  position:absolute
}

.logo{
  position:fixed;
  width:5em
}